<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de contatos</h1>

    <ul>
        <li>Contato 01</li>
        <li>Contato 02</li>
        <li>Contato 03</li>
    </ul>

    <a href="/adicionar-novo-contato">Novo contato</a>
</body>
</html>